[Unit]
Description=Node.js Apple HomeKit Server 
After=syslog.target network-online.target
Documentation=

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/homebridge -I
Restart=on-failure
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
